#headline {
  font-size: 4rem;
  border-bottom: 3px solid #f5e9e2;
  max-width: 75vw;
  text-align: left;
}

#cards {
  margin-top: 100px;
}

.card-block {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 20vw;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-img {
  padding-bottom: 5px;
}
.card-img > a > img {
  border: 15px solid #f5e9e2;
}
.card-title {
  padding-bottom: 8px;
  font-size: 1.5rem;
  text-decoration: underline;
}
.card-title > a {
  color: #0b0014;
}

.card-body {
  padding: 5px;
  background-color: #f5e9e2;
  border: 3px solid #f5e9e2;
  border-radius: 12px;
}
.card-body:hover {
  box-shadow: 5px 2px 2px #773344;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(212, 77, 92, 0.9);
  color: #f5e9e2;
  font-weight: bold;
}
