#hero {
  font-size: 2rem;
  margin: auto;
}

#hero > h1 {
  margin-bottom: 15px;
  text-align: center;
}

#hero > img {
  display: block;
  margin: auto;
}

#description {
  text-align: center;
  /* padding: 1rem; */
}

.container {
  background-color: #f5e9e2;
  max-width: 50%;
  border-radius: 12px;
  margin: 1.1rem auto;
  padding: 1rem;
}

.description-text {
  padding: 1.1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#details {
  width: 50%;
  margin: auto;
}
#specs {
  margin: auto;
  padding: 1.1rem;
  border-radius: 10px;
}
#specs td,
#specs th {
  border: 1px solid #ddd;
  padding: 8px;
}

#specs th {
  background-color: #773344;
  color: #f5e9e2;
}

#ingredients,
#directions {
  text-align: left;
  padding: 2rem;
}

footer {
  width: 100%;
  background-color: rgb(212, 77, 92);
  color: #f5e9e2;
  font-weight: bold;
  padding: 1rem;
  text-align: left;
}
